@model TeduShop.Web.Models.FeedBackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Liên Hệ Với Chúng Tôi</h1></div>
    </div>
</div>
<!--End Page Title-->
<div class="map-section map">
    <div id="map" style="width:100%;height:400px"></div>
    @*<div class="container">
            <div class="row">
                <div class="map-section__overlay-wrapper">
                    <div class="map-section__overlay">
                        <h3 class="h4">Our store</h3>
                        <div class="rte-setting">
                            <p>123 Fake St.<br>Toronto, Canada</p>
                            <p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>
                        </div>
                        <p><a href="https://maps.google.com/?daddr=80%20Spadina%20Ave,%20Toronto" class="btn btn--secondary btn--small" target="_blank">Get directions</a></p>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<div class="bredcrumbWrap">
    <div class="container breadcrumbs">
        <a href="index.html" title="Back to the home page">Trang chủ</a><span aria-hidden="true">›</span><span>Liên hệ</span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-4">
            <h2>Gửi thông tin liên hệ</h2>
            <p>Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500 </p>
            <div class="formFeilds contact-form form-vertical">
                @using (Html.BeginForm("SendFeedBack", "Contact", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Gửi phản hồi thành công!</strong>
                        </div>
                    }

                    @Html.ValidationSummary(false, "", new { @class = "error", @style = "font-size:16px;font-wight:bold;color:red" });
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Name, new { @id = "ContactFormName", @placeholder = "Nhập Họ Và Tên" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Email, new { @id = "ContactFormEmail", @placeholder = "Nhập Email" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Message, new { @id = "ContactFormMessage", @row = "10", @placeholder = "Nhập Nội Dung" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ContactCatcha");}
                                @Html.Captcha(exampleCaptcha)
                                @Html.TextBox("CaptchaCode")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="submit" class="btn" value="Send Message">
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="open-hours">
                <strong>Giờ mở cửa</strong><br>
                Thứ 2 - Thứ 7 : 9:00 - 21:00<br>
                Chủ nhật : 11:00 - 17:00
            </div>
            <hr />
            <ul class="addressFooter">
                <li class="name"><i class="icon anm anm-envelope-l"></i><p>Chủ Shop: @Model.contactDetailViewModel.Name</p></li>
                <li class="name"><i class="icon anm anm-envelope-l"></i><p>Website: @Model.contactDetailViewModel.Website</p></li>
                <li><i class="icon anm anm-map-marker-al"></i><p>Địa chỉ: @Model.contactDetailViewModel.Address</p></li>
                <li class="phone"><i class="icon anm anm-phone-s"></i><p>SĐT: @Model.contactDetailViewModel.Phone</p></li>
                <li class="email"><i class="icon anm anm-envelope-l"></i><p>Email: @Model.contactDetailViewModel.Email</p></li>
            </ul>
            <hr />
            <ul class="list--inline site-footer__social-icons social-icons">
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</div>