@model TeduShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<!--Small Banners-->
<div class="section imgBanners pt-4">
    <div class="imgBnrOuter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="inner">
                        <div class="inner btmleft">
                            <a href="#">
                                <img class="blur-up lazyload" data-src="/Assets/client/assets/images/collection/home10-sm-banner1.jpg" src="/Assets/client/assets/images/collection/home10-sm-banner1.jpg" alt="Festive Treasures" title="Festive Treasures" />
                                <div class="ttl">Festive Treasures <h4>Embroidered Apparel</h4></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="inner center">
                        <a href="#">
                            <img class="blur-up lazyload" data-src="/Assets/client/assets/images/collection/home10-sm-banner2.jpg" src="/Assets/client/assets/images/collection/home10-sm-banner2.jpg" alt="Keep it Simple" title="Keep it Simple" />
                            <div class="ttl">Keep it Simple <h4>Denim Jeans</h4></div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="inner btmright mb-4">
                        <a href="#">
                            <img class="blur-up lazyload" data-src="/Assets/client/assets/images/collection/home10-sm-banner3.jpg" src="/Assets/client/assets/images/collection/home10-sm-banner3.jpg" alt="Carry in Style" title="Carry in Style" />
                            <div class="ttl">Carry in Style <h4>Purse</h4></div>
                        </a>
                    </div>
                    <div class="inner topleft">
                        <a href="#">
                            <img class="blur-up lazyload" data-src="/Assets/client/assets/images/collection/home10-sm-banner4.jpg" src="/Assets/client/assets/images/collection/home10-sm-banner4.jpg" alt="The Sophisticated " title="The Sophisticated" />
                            <div class="ttl">The Sophisticated <h4>Denim Jeans</h4></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Small Banners-->
<!--Best seller of the week-->
<div class="product-rows section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Best seller of the week</h2>
                </div>
            </div>
        </div>
        <div class="grid-products">
            <div class="row">
                @foreach (var item in Model.productsSale)
                {
                    var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                    var price = item.Price;
                    var promotion = item.Promotion;
                    var Percent = promotion / (price + promotion) * 100;
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="@url" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="@item.Image" src="@item.Image" alt="image" title="@item.Name">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="@item.Image" src="@item.Image" alt="image" title="@item.Name">
                                <!-- End hover image -->
                                <!-- product label -->
                                @if (item.Promotion > 0)
                                {
                                    <div class="product-labels rectangular">
                                        @if (item.HotFlag == true)
                                        {
                                            <span class="lbl pr-label2">HOT</span>
                                        }
                                        <span class="lbl on-sale">-@(Math.Ceiling(Percent)) %</span>
                                        <span class="lbl pr-label1">new</span>
                                    </div>
                                }
                                <!-- End product label -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!--Vendor/Brand-->
                                <div class="brand-name">
                                    <a href="#" title="Belle">Haile Shop</a>
                                </div>
                                <!--End Vendor/Brand-->
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="@url">@item.Name</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    @if (item.Promotion > 0)
                                    {
                                        <span class="old-price">@item.Price.ToString("N0")</span>
                                        <span class="price">@item.Promotion.ToString("N0")</span>
                                    }
                                    else
                                    {
                                        <span class="price">@item.Price.ToString("N0")</span>
                                    }

                                </div>
                                <!-- End product price -->
                                <!-- product button -->
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <!-- Start product button -->
                                    <div class="variants add">
                                        <button class="btn cartIcon btn-addto-cart btnAddToCart"  data-id="@item.ID" type="button" tabindex="0"><i class="icon anm anm-bag-l"></i>Thêm vào giỏ hàng</button>
                                    </div>
                                    <div class="wishlist-btn">
                                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end product button -->
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                }

                @foreach (var item in Model.productsNew)
                {
                    var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="@url" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="@item.Image" src="@item.Image" alt="image" title="@item.Name">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="@item.Image" src="@item.Image" alt="image" title="@item.Name">
                                <div class="product-labels rectangular">
                                    @if (item.HotFlag == true)
                                    {
                                        <span class="lbl pr-label2">HOT</span>
                                    }
                                    <span class="lbl pr-label1">new</span>
                                </div>
                                <!-- End hover image -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!--Vendor/Brand-->
                                <div class="brand-name">
                                    <a href="#" title="Lilith">Haile Shop</a>
                                </div>
                                <!--End Vendor/Brand-->
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="@url">@item.Name</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">@item.Price.ToString("N0")</span>
                                </div>
                                <!-- product button -->
                                <div class="button-set">
                                    <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                        <i class="icon anm anm-search-plus-r"></i>
                                    </a>
                                    <!-- Start product button -->
                                    <div class="variants add">
                                        <button class="btn cartIcon btn-addto-cart btnAddToCart" data-id="@item.ID" type="button" tabindex="0"><i class="icon anm anm-bag-l"></i>Thêm vào giỏ hàng</button>
                                    </div>
                                    <div class="wishlist-btn">
                                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                                            <i class="icon anm anm-heart-l"></i>
                                        </a>
                                    </div>
                                    <div class="compare-btn">
                                        <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                            <i class="icon anm anm-random-r"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end product button -->
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="clear text-center"><a href="#" class="btn">View all</a></div>
    </div>
</div>
<!--End Featured Product-->
<!--Store Information-->
<div class="section store-information">
    <div class="container-fluid">
        <div class="row">
            <ul class="display-table store-info">
                <li class="display-table-cell">
                    <i class="icon anm anm-truck-l" aria-hidden="true"></i>
                    <h5>Free Shipping Worldwide</h5>
                    <span class="sub-text">
                        Diam augue augue in fusce voluptatem
                    </span>
                </li>
                <li class="display-table-cell">
                    <i class="icon anm anm-money-bill-ar" aria-hidden="true"></i>
                    <h5>Money Back Guarantee</h5>
                    <span class="sub-text">
                        Use this text to display your store information
                    </span>
                </li>
                <li class="display-table-cell">
                    <i class="icon anm anm-comments-l" aria-hidden="true"></i>
                    <h5>24/7 Help Center</h5>
                    <span class="sub-text">
                        Use this text to display your store information
                    </span>
                </li>
                <li class="display-table-cell">
                    <i class="icon anm anm-dollar-sign-l" aria-hidden="true"></i>
                    <h5>cash on delivery</h5>
                    <span class="sub-text">
                        Use this text to display your store information
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--End Store Information-->
